*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat" , sans-serif;
}   

:root{
    --bs-dark-color:#1a1d20;
    --bs-dark-primary:#1c1c1c;
    --bs-main-color:#c6c6c6;
    --secondary-color:#29a9fd;
    --bs-supporting-color:#c850c0;
}

h1, h2,h3,h4,h5{
    font-family: "Montserrat", sans-serif;
    color: var(--bs-dark-color);
}

h1{
    font-size: 3.8rem;
}

h2{
    line-height: 3rem;
    font-weight: 600;
    font-size: 2rem;
}

p{
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--bs-dark-color);
    letter-spacing: 0.2rem;
    line-height: 1.5rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a{
    text-decoration: none;

}

li{
    list-style: none;
}

button, a{
    font-size: 1rem !important;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;
}

.common-heading{
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.01rem !important;
}

.common-title{
    margin-bottom: 4.2rem;
}

/* Navbar Section */

.nav-link{
    color: var(--bs-main-color);
    font-weight: bold;
}

.nav-link:hover{
    color: var(--secondary-color);
}

.navbar .container img{
    vertical-align: middle;
    height: 5rem;
    width: 5rem;
}

.nav-icons{
    width: 32px;
    height: 33px; 
    margin: 0;
    padding: 0;
}
/* Home Section */

.home-image1 {
    max-width: 100%;
    height: auto;
    width: 70%;
    border-radius: 3rem;

}

.home-section .container{
    display: grid;
    place-content: center;
    height: inherit;
}

.bg-main{
    height: 90vh;
    position: relative;
}

.bg-color{
    background-color: var(--bs-dark-primary);
}

.text-light-grey{
    color: var(--bs-main-color);
}

/* Services Section */

.services-section{
    padding: 2rem 0 3rem 0 !important;
    background-color: #FEE18A; 
    border-radius: 1rem;
    box-shadow: rgba(20, 19, 19, 0.2) 4px 8px 24px;

}

.card-box{
    background-color: aliceblue;
}

.card-box:hover{
    box-shadow: rgb(16, 16, 16) 4px 8px 24px;
}


/* Shopping Section */

.shopping-section {
    padding: 2rem 0 3rem 0 !important;
    background-color:  #ffeed4;;
    border-radius: 1rem;
    box-shadow:rgb(16, 16, 16) 4px 8px 24px;

}

.card-box {
    background-color: aliceblue;
}

.card-box:hover {
    box-shadow: rgb(16, 16, 16) 4px 8px 24px;
}


/* media queries for responsive */

@media screen and (max-width:1200px) {
    .home-image1{
        width: 20rem;
        border-radius: 1rem;
    }

}
@media screen and (max-width:998px) {
    .navbar-toggler {
        border-color: var(--bs-main-color);
    }
    
    .navbar-toggler-icon{
        color: var(--bs-main-color);
        background-color: var(--bs-main-color);
    }

    h1{
        font-size: 2.4rem;
    }
    
    section .common-heading{
        font-size: 2rem;
    }

    section .para-width{
        width: auto;
    }

    .home-section{
        height: 80vh;
    }
}